.accordion--nojs {
  @include mobile {
    .accordion__menu {
      display: block;
    }

    .accordion__button {
      display: none;
    }
  }
}

.accordion__menu {
  @include mobile {
    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }
  }
}

.accordion__click {
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
}

.accordion__button {
  display: none;

  @include mobile {
    display: block;

    position: relative;

    width: 16px;
    height: 16px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      content: "";

      width: 16px;
      height: 1px;

      background-color: #c4c4c4;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 50%;

      content: "";

      width: 1px;
      height: 16px;

      background-color: #c4c4c4;
    }
  }

  &--opened {
    &::before {
      display: block;
    }

    &::after {
      display: none;
    }
  }
}
