.feedback {
  padding: 93px 0 111px;
  position: relative;
  background-color: $blue;
  background-image: url("../img/feedback-bg.svg");
  background-repeat: no-repeat;
  background-size: auto 98%;
  background-position: 110% 220%;

  @include tablet {
    padding: 80px 0 103px;
    background-image: none;
  }

  @include mobile {
    padding: 30px 0 43px;
  }
}

.feedback__wrap {
  margin: 0 auto;

  position: relative;

  width: calc(100% - 40px);
  max-width: 1195px;

  display: flex;
  justify-content: flex-end;

  &::after {
    position: absolute;
    z-index: 2;
    top: 70px;
    left: -13px;

    width: 511px;
    height: 288px;

    content: "";
    background-image: url("../img/paper-airplane-desktop@1x.png");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/paper-airplane-desktop@2x.png");
    }

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    max-width: 100%;

    justify-content: center;
  }

  @include mobile {
    width: calc(100% - 30px);
  }
}

.feedback__form {
  margin-right: 15px;
  position: relative;
  z-index: 3;

  width: 570px;

  color: $white;
  background-color: transparent;

  @include tablet {
    margin-right: 0;
    width: 590px;
  }

  @include mobile {
    width: 100%;
    max-width: 590px;
  }
}

.feedback__form h2 {
  @include reset;
  margin-bottom: 10px;

  width: 100%;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include tablet {
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 140.62%;
  }

  @include mobile {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.feedback__form p {
  @include reset;

  margin-bottom: 50px;
  padding-left: 5px;

  width: calc(100% - 5px);

  @include tablet {
    margin-bottom: 52px;
  }

  @include mobile {
    padding-left: 0;
    margin-bottom: 25px;
  }
}

.feedback__input-wrap {
  margin-left: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    margin-left: 0;
    align-items: center;
  }

  @include mobile {
    flex-direction: column;
  }
}

.feedback__form label {
  @include mobile {
    width: 100%;
  }
}

.feedback__form input {
  margin-bottom: 40px;
  padding: 14px 18px;
  width: 270px;

  @include tablet {
    padding: 15px 20px;
    width: 279px;
  }

  @include mobile {
    margin-bottom: 30px;
    padding: 15px 17px;
    width: 100%;
  }
}

.feedback__form textarea {
  margin-bottom: 38px;
  padding: 13px 18px;
  width: 570px;
  min-height: 154px;

  @include tablet {
    margin-bottom: 42px;
    padding: 13px 20px;
    width: 590px;
    min-height: 160px;
  }

  @include mobile {
    padding: 13px 17px;
    margin-bottom: 27px;
    width: 100%;
    min-height: 104px;
  }
}

.feedback__button {
  padding: 14px;
  width: 270px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    width: 280px;
  }

  @include mobile {
    margin-bottom: 30px;
    width: 290px;
  }
}

.feedback__checkbox {
  width: 262px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  input {
    width: 16px;
  }

  @include tablet {
    width: 272px;

    font-size: 14px;
    line-height: 16px;
  }

  @include mobile {
    justify-content: center;
  }
}

.feedback__tick-field {
  margin-right: 20px;
  margin-top: 5px;

  @include tablet {
    margin-top: 0;
  }
}

.feedback__checkbox-text {
  font-size: 14px;
  line-height: 16px;
}
