.form input {
  background-color: rgba($white, 0.1);
  border: none;
  border-radius: none;
  box-sizing: border-box;
  cursor: pointer;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  &::placeholder {
    color: $white;
  }
}

.form textarea {
  background-color: rgba($white, 0.1);
  resize: none;
  border: none;
  border-radius: none;
  box-sizing: border-box;
  cursor: pointer;
  overflow: auto;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  &::placeholder {
    color: $white;
  }
}

.form__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;

  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 5px;

  background-color: transparent;
  cursor: pointer;
}

.form__checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form__checkbox input {
  margin: 0;

  width: 16px;
  height: 16px;

  cursor: pointer;
  background-color: transparent;
}

.form__tick-field {
  width: 22px;
  height: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $white;
  cursor: pointer;
  box-sizing: border-box;
}

.form__checkbox svg {
  fill: none;
  stroke: $white;
}


.form__checkbox input:not(:checked) + .form__tick-field svg {
  display: none;
}

.form__checkbox input:checked + .form__tick-field svg {
  display: block;
}

.form__checkbox input:hover + .form__tick-field,
.form__checkbox input:focus + .form__tick-field {
  outline: 2px solid $grey;
}
