.page-footer {
  padding-top: 65px;
  color: $dark-grey;

  @include tablet {
    padding-top: 19px;
    position: relative;

    &::before {
      position: absolute;
      top: 97px;
      left: 0;

      content: "";

      width: 100%;
      height: 1px;

      background-color: #626962;
    }
  }

  @include mobile {
    padding-top: 46px;

    &::before {
      top: 260px;
    }
  }
}

.page-footer__wrap {
  margin: 0 auto;

  width: calc(100% - 40px);
  max-width: 1412px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    width: calc(100% - 50px);
  }

  @include mobile {
    width: calc(100% - 30px);

    flex-direction: column;
  }
}

.page-footer__logo-block {
  margin-right: 4.5%;

  @include tablet {
    margin-right: 0;
    margin-bottom: 65px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mobile {
    margin-bottom: 78px;

    flex-direction: column;
    justify-content: center;
  }
}

.page-footer__logo-wrap {
  margin-bottom: 54px;

  width: 216px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include tablet {
    margin-bottom: 0;
  }

  @include mobile {
    margin-bottom: 25px;
  }
}

.page-footer__logo-wrap + p {
  display: none;

  @include tablet {
    @include reset;

    margin-top: 6px;
    margin-left: 12px;

    display: block;

    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba($dark-grey, 0.5);
  }

  @include mobile {
    margin: 0;
    margin-bottom: 27px;
  }
}

.page-footer__logo-text {
  width: 148px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo-name {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #203c42;
}

.page-footer__logo-description {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;

  @include tablet {
    margin-bottom: 3px;
  }
}

.page-footer__socials {
  @include list-reset;

  width: 216px;

  display: flex;
  justify-content: flex-start;

  @include tablet {
    margin-top: 5px;
    width: 15.74%;
  }

  @include mobile {
    width: 100%;
    justify-content: center;
  }
}

.page-footer__socials-item {
  margin-right: 16px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__navigation {
  width: 36.54%;

  @include tablet {
    width: 33.84%;
  }

  @include mobile {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__navigation h2 {
  @include reset;

  margin-bottom: 27px;

  width: 70%;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 25px;
  }
}

.page-footer__menu-wrap {
  width: 100%;

  display: flex;
  justify-content: space-between;

  @include tablet {
    display: block;
  }

  @include mobile {
    margin-bottom: 28px;

    display: none;
  }
}

.page-footer__menu-list {
  @include list-reset;

  &--second {
    margin-right: 16.67%;
  }
}

.page-footer__menu-list a {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba($dark-grey, 0.5);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__contacts {
  width: 23.59%;

  @include tablet {
    margin-right: 10px;
    width: 46.38%;
  }

  @include mobile {
    position: relative;

    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: -15px;

      content: "";

      width: calc(100% + 30px);
      height: 1px;

      background-color: #626962;
    }
  }
}

.page-footer__contacts h2 {
  @include reset;

  margin-bottom: 27px;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 25px;
  }

  @include mobile {
    margin-bottom: 32px;

    width: 70%;
  }
}

.page-footer__contacts-list {
  @include list-reset;

  @include mobile {
    margin-bottom: 26px;
    width: 100%;

    display: none;
  }
}

.page-footer__contacts-list a {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba($dark-grey, 0.5);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__contacts-list span {
  width: 70%;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba($dark-grey, 0.5);
}

.page-footer__copyright {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    width: 100%;
    height: 1px;

    background-color: #626962;
  }
}

.page-footer__copyright-wrap {
  margin: 0 auto;
  margin-top: 58px;
  padding: 14px 0;
  width: calc(100% - 40px);
  max-width: 1412px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba($dark-grey, 0.5);

  @include tablet {
    margin-top: 34px;
    padding: 23px 0 24px;
    width: calc(100% - 50px);
  }

  @include mobile {
    margin-top: 0;
    padding: 29px 0 26px;

    flex-direction: column;
    align-items: center;
  }
}

.page-footer__copyright-wrap p {
  @include reset;
}

.page-footer__copyright-wrap p:first-child {
  flex-grow: 1.25;

  @include tablet {
    display: none;
  }
}

.page-footer__copyright-wrap p:nth-child(2) {
  flex-grow: 2.4;

  @include tablet {
    display: none;
  }
}

.page-footer__copyright-link {
  flex-grow: 6.8;
  color: rgba($dark-grey, 0.5);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    margin: 0;
  }

  @include mobile {
    margin-bottom: 21px;
    flex-grow: 0;
  }
}

.page-footer__copyright-link + p {
  @include tablet {
    margin: 0;
  }
}

.page-footer__toggle {
  display: none;
}
