$grey: #666666;
$dark-grey: #1b2d37;
$blue: #00b2ff;
$white: #ffffff;
$font-main: "PTMono", "Arial", sans-serif;
$font-weight: 400;
$text-size: 16px;
$line-height: 21.5px;
$tablet-min: 768px;
$tablet-max: 1023px;
$mobile-max: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
